#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@ --with autoreconf

override_dh_autoreconf:
	./autogen.sh --with-slurm-inc=/usr/include/ \
		--with-slurm-lib=/usr/lib/x86_64-linux-gnu/libslurm.so \
		--prefix=/usr/lib/slurm-drmaa

override_dh_auto_configure:
	echo autogen script handles the configure step

get-orig-source:
	# Uscan will read debian/watch, grab the correct version,
	# repack, and leave it in the
	# current directory
	uscan --noconf --force-download --rename --repack \
		--download-current-version --destdir=.
